<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>English</string>

  <key>CFBundleIdentifier</key>
  <string>org.loessl.dictionary.Folket</string>

  <key>CFBundleName</key>
  <string>Folket</string>

  <key>CFBundleShortVersionString</key>
  <string>2.0.0</string>

  <key>DCSDictionaryCopyright</key>
  <string>© 2012–2016 Christopher Loessl and Ivan Ukhov</string>

  <key>DCSDictionaryManufacturerName</key>
  <string>Christopher Loessl and Ivan Ukhov</string>

  <key>DCSDictionaryFrontMatterReferenceID</key>
  <string>front_back_matter</string>
</dict>
</plist>
